body{
  text-align: center;
  background-color: lavender;
  font-family: Kanit, Cursive, sans-sans-serif;
  font-size:17px;
  line-height: 1.6;
}
h1{
  display: block;
  margin: 0em;
  font-family: Kanit, Arial, sans-serif;
  font-size: 3em;
}
p{
  margin: 0;
}

.avatar {
  text-align: center;
  align-items: center;
  border-radius: 200px;
  box-sizing: border-box;
  border: 10px solid azure;
}

.modal-container{
  display: flex;
  justify-content: center;
}

.button{
  background: orange;
  padding: 1em 2em;
  color: white;
  border: 5 black;
  border-radius: 50px;
}

.button:hover{
  background: black;
  border: 5 white;
}

form{
  display: block;
  margin-top: 0em;
}

#modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
  max-width: 80%;
  max-height: 50%;
  border-radius: 1em;
  border: 10px inset lightblue;
  box-shadow: 10px 10px 10px gray;
  margin-top: 5em;
  z-index: 1;
  overflow: auto;
}

#quote-category {
  background-color: white;
  font-family: Kanit, sans-serif;
  font-weight: bolder;

}
#modal-textbox {
  font-size: 36px;
  font-weight:bolder;
  background-color: azure;
  font-family: Cookie, sans-serif;
  height: 80%;
  width: 100%;
  border-radius: 2px;
  margin: 10px auto;
  box-shadow: 10 2px 2px black;
}

.modal-buttons {
  background: orange;
  padding: 1em 2em;
  color: white;
  border: 5 black;
  border-radius: 50px;
}

.modal-button:hover{
  background: black;
  border: 5 white;

}
footer {
  position: absolute;
  padding: 0;
  width: 100%;
  bottom: 0;
  margin-top: 5em;
  font-size:12px;
  margin-top: 5em;
  padding-top: 4em;
}

@media (max-width: 500px) {
  #modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: azure;
    max-width: 80%;
    max-height: 50%;
    border-radius: 1em;
    border: 10px inset lightblue;
    box-shadow: 10px 10px 10px gray;
    margin-top: 5em;
    z-index: 1;
    overflow: auto;
  }

  #quote-category {
    background-color: white;
    font-family: Kanit, sans-serif;
    font-weight: normal;

  }
  #modal-textbox {
    max font-size: 12px;
    font-weight:bolder;
    background-color: azure;
    font-family: Cookie, sans-serif;
    max height: 50%;
    max width: 80%;
    border-radius: 2px;
    margin: 10px auto;
    box-shadow: 5px 1px 1px black;
  }

}
