body{
  text-align: center;
  background-color: lavender;
  font-family: Kanit, Cursive, sans-sans-serif;
  font-size:17px;
  line-height: 1.6;
}
h1{
  display: block;
  margin: 0em;
  font-family: Kanit, Arial, sans-serif;
  font-size: 3em;
}
p{
  margin: 0;
}
.modal-container{
  display: flex;
  justify-content: center;
}

.h3{}


.button{
  background: orange;
  padding: 1em 2em;
  color: white;
  border: 5 black;
  border-radius: 50px;


}

.button:hover{
  background: black;
  border: 5 white;

}

form{
  display: block;
  margin-top: 0em;




}
.avatar {
  text-align: center;
  align-items: center;
  border-radius: 200px;
  box-sizing: border-box;
  border: 10px solid lightyellow;
}


#modal{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
  border: 10px inset salmon;
  box-shadow: 10px 10px 10px gray;
}

#quote-category {
  background-color: white;
  font-family: Kanit, sans-serif;
  font-weight: bolder;

}
#modal-textbox {
  font-size: 24px;
  font-weight:bold;
  background-color: azure;
  font-family: cursive, sans-serif;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 10 2px 2px black;
}

.modal-buttons {
  background: orange;
  padding: 1em 2em;
  color: white;
  border: 5 black;
  border-radius: 50px;
}

.modal-button:hover{
  background: black;
  border: 5 white;

}


footer {
  position: absolute;
  padding: 0;
  width: 100%;
  bottom: 0;
  border-radius: 50px;
  border-color: black;
  margin-top: 5em;
  font-size:12px;
  background-color: lavender;
  margin-top: 5em;
  padding-top: 4em;
}
